body {
    background-color: #ffbe37;
    padding-top: 5px;
    padding-left: 3%;
    padding-right: 3%;
}
h1 {
    font-family: 'Lexend Deca', sans-serif; 
    color: #3a2000;
}
p {
    font-family: 'Lexend Deca', sans-serif;
    color: #603e00;
}
#title {
    padding-bottom: 18px;
}
#main-content {
    padding: 2%;
    /* this is internal padding, not external */
    border-style: solid;
    border-color: #603e00;
    border-radius: 15px;
    background-color: #FFF1DA;
}
#center {
    margin: auto; 
    text-align: center;
}
  