body {
    background-color: #ffbe37;
}
h1 {
    font-family: 'Lexend Deca', sans-serif; 
    color: #3a2000;
}
p {
    color: #603e00;
}
#special {
    padding: 50px;
    border-style: solid;
    border-color: #B6C7D6;
    border-radius: 20px;
    background-color: #EAF0F6;
}
#center {
    width: 400px; 
    margin: auto; 
    text-align: center;
}
  