/* Import Montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.project-body {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.projects-header {
    text-align: center;
}

.project-details-link {
    white-space: nowrap;
    color: #000000;
}
.project-details-link:hover{
    white-space: nowrap;
    color: #aa9174;
}

/* FOR DESKTOP */
@media only screen and (orientation: landscape) {
    .project-body {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: auto; /* Adjust layout for desktop */
    }
}

/* FOR MOBILE */
@media only screen and (orientation: portrait) {
    .project-body {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}
