/* Import Montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.projects-container {
    padding-left: 6vw;
    padding-right: 6vw;
}

.project-body {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping of items */
    justify-content: space-between; /* Spreads items evenly */
    align-items: flex-start; /* Aligns items to the top */
    gap: 10px; /* Adds spacing between cards */
}

.project-card {
    flex-basis: calc(33.33% - 10px); /* Ensures 3 cards per row with spacing */
    box-sizing: border-box; /* Includes padding and border in width calculation */
}

.projects-header {
    text-align: center;
}

.project-details-link {
    white-space: nowrap;
    color: #000000;
}
.project-details-link:hover{
    white-space: nowrap;
    color: #aa9174;
}

/* FOR DESKTOP */
@media only screen and (orientation: landscape) {
    .project-body {
        display: flex;
        flex-wrap: wrap; /* Allows wrapping of items */
        justify-content: space-between; /* Spreads items evenly */
        align-items: flex-start; /* Aligns items to the top */
        gap: 10px; /* Adds spacing between cards */
    }
}

/* FOR MOBILE */
@media only screen and (orientation: portrait) {
    .project-body {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}
