.pdf-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.pdf-modal-content {
    background-color: white;
    width: 90%;
    height: 90%;
    max-width: 1200px;
    max-height: 800px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.pdf-modal-content iframe {
    border: none;
}

/* make modal styling work for mobile (specifically safari?) */