@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9e6cd;
    color: #000000;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.navbar-left {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    text-decoration: none;
    padding-left: 1.6rem;
}

.navbar-center {
    position: relative;
    padding: 0px;
}
.navbar-center .nav-links {
    list-style-type: none;
    padding-inline-start: 0px;
    display: flex;
    font-size: medium;
    font-weight: lighter;
}
.navbar-center .nav-links a:hover {
    color: #aa9174;
}
.navbar-center .nav-links li {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.navbar-center .nav-links a {
    color: #000000;
    text-decoration: none;
}

.navbar-right {
    list-style-type: none;
    display: flex;
    padding-right: 1.4rem;
}
.navbar-right .image-links {
    text-decoration: none;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    position: relative;
}

.navbar-right .image-links a:hover svg:hover path {
    fill: white;
}